.header {
    padding: 25px 0;
}


@media only screen and (min-width: 768px) {
.header {
    padding: 28px 0;
}
}

.homeHeader {
 background-color: var(--primary-color);
 position: relative;
}

.homeHeader::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: inherit;
  pointer-events: none;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.logoLink{
    display: flex;
    gap: 12px;
    font-weight: 600;
font-size: 16px;
letter-spacing: -0.03em;
align-items: center;
}

.homeLogoLink {
    color: var(--white);
}

@media only screen and (min-width: 768px) {
.logoLink{
font-size: 20px;
gap: 14px;
}

.logoImg {
    width: 44px;
    height: 44px;
}
}

.navList {
    display: none;
}

.authList {
    display: none;
}

@media only screen and (min-width: 1440px) {
.navList {
    display: flex;
    gap: 1px;
    z-index: 10;
}

.navItem {
  position: relative;
  cursor: pointer;
  border-radius: 60px;
  background-color: var(--white);
  padding: 7px;
   border: 1.15px solid #f1f1f1;
}

.navItem:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 15px;
  width: 5px;
  height: 15px; 
  background-color: var(--white);
  border-top: 1.15px solid var(--second-white);
  border-bottom: 1.15px solid var(--second-white);
  z-index: 5;
}

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8px;
   padding-bottom: 9px;
 border-radius: 24px;
 font-size: 14px;
line-height: 1;
  color: var(--text-gray);
  transition: background-color var(--main-transition), color var(--main-transition);
}

.navItem:hover .navLink,
.navItem .navLink.active  {
  background-color: var(--primary-color);
  color: var(--white);
}

.authList {
    display: flex;
    align-items: center;
    gap: 14px;
}

.registerLink {
   border: 1px solid rgba(89, 177, 122, 0.5);
border-radius: 60px;
padding: 16px 32px;
color: var(--primary-color);
font-size: 14px;
line-height: 1;
transition: background-color var(--main-transition), border-color var(--main-transition), color var(--main-transition);
}

.registerLink:hover, 
.registerLink:active, 
.registerLink:focus {
    background-color: var(--primary-color);
      border-color: var(--primary-color);
      color: var(--white);
}

.homeRegisterLink {
color: var(--second-white);
border: 1px solid rgba(241, 241, 241, 0.5);
transition: background-color var(--main-transition), border-color var(--main-transition) ;
}

.homeRegisterLink:hover, 
.homeRegisterLink:active, 
.homeRegisterLink:focus {
    background-color: var(--dark-green);
      border-color: var(--dark-green);
}

.loginLink {
    font-size: 14px;
line-height: 1;
text-decoration: underline;
}

.homeLoginLink {
    color: var(--second-white);
}
}

.burgerButton {
    display: flex;
    padding: 0;
    background-color: transparent;
    color: var(--primary-color);
}

.homeBurgerButton {
     color: var(--white);
}

@media only screen and (min-width: 1440px) {
.burgerButton {
    display: none;
}
}

.userList {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 768px) {
.userList {
     margin-right: 16px;
}
}

@media only screen and (min-width: 1440px) {
.userList {
      margin-left: 0;
     margin-right: 0;
}
}

.cartItem {
    position: relative;
    cursor: pointer;
    display: flex;
    color: var(--primary-color);
    width: 40px;
    height: 40px;
    padding: 12px;
margin-right: 8px;
border-radius: 100%;
background-color:var(--white);
border: 1px solid var(--secind-white) ;
box-shadow: 0 -1px 7px 0 rgba(71, 71, 71, 0.05);
}

.count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    font-weight: 700;
font-size: 12px;
background-color: #e7f1ed;
border-radius: 100%;
position: absolute;
right: -2px;
top: -2px;
}

@media only screen and (min-width: 768px) {
.cartItem {
    padding: 14px;
     width: 44px;
    height: 44px;
    margin-right: 10px;
}
}

.nameItem {
    padding: 10px 18px;
    display: flex;
     width: 40px;
    height: 40px;
    border-radius: 100%;
background-color: rgba(89, 177, 122, 0.1);
font-weight: 600;
font-size: 14px;
line-height: 1.4;
color:var(--primary-color);
}

.homeNameItem  {
    background-color:#EBF4EE;
}

@media only screen and (min-width: 768px) {
.nameItem {
    padding: 10px 20px;
     width: 44px;
    height: 44px;
    font-size: 18px;
}
}

.logOutItem {
    display: none;
}

@media only screen and (min-width: 1440px) {
.logOutItem {
    display: flex;
    margin-left: 12px;
}
}