.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
.form {
  flex-direction: row;
  gap:0;
  margin-bottom: 32px;
}

.categoryWrapper {
  margin-right: 14px;
}

.searchWrapper {
  margin-right: 8px;
}
}

@media only screen and (min-width: 1440px) {
.form {
  margin-bottom: 40px;
}

.categoryWrapper {
  margin-right: 15px;
}

.searchWrapper {
  margin-right: 7px;
}
}

.inputsWrapper {
  position: relative;
}

.icon {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
}