.section {
    padding-top: 39px;
   padding-bottom: 80px;
}

.title {
    font-size: 28px;
line-height: 1.14;
margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .section {
   padding-top: 50px;
   padding-bottom: 120px;
  }


.title {
margin-bottom: 32px;
}
}

@media only screen and (min-width: 1440px) {
  .section {
   padding-top: 70px;
  }


.title {
margin-bottom: 40px;
}
}